<div class="flexWidth flexCont" style="--w: 100%" [formGroup]="s.resourcesForm" *ngIf="s.resourcesForm">

  @for (resTipus of resTipusok; track $index) {

    @for (res of resUtil; track res.nev) {
      @if (resTipus == res.tipus) {
        <div class="bwhite flexWidth flexCont" style="--w: 50%">
          <div class="pad03 fwhite flexWidth center" style="--w: 50%">{{res.nev}}</div>
          <app-special-field class="flexWidth" style="--w: 50%"
          [ertek]="s.getFc(res.fcName)?.value"
          [tipus]="res.tipus"
          ></app-special-field>
        </div>
      }
    }

  }

</div>
