<div class="headWrap" (click)="toggleMenu()">
  <div class="line">
    Üdv az Árnyak között {{felhasznalo}}
  </div>
  @if (!showMenu) {
    <div class="burger">
      &#9776;
    </div>
  }
  @else {
    <div class="bezaras">X</div>
  }
</div>

@if (showMenu) {
  <nav (click)="toggleMenu()">
    <ul>
      <li>
        <a routerLink="/">Főoldal</a>
      </li>
      <li>
        <a routerLink="/charslist">Karakterek</a>
      </li>
      <li>
        <a routerLink="/npcs">Nem Játékosok</a>
      </li>
      <li>
        <a routerLink="/initiative">Kezdeményezés</a>
      </li>
      @if (!userIsAuthenticated) {
        <li *ngIf="!userIsAuthenticated">
          <a routerLink="/auth">Belépés</a>
        </li>
      }
      @else {
        <li *ngIf="userIsAuthenticated">
          <a (click)="onLogout()">Kilépés</a>
        </li>
      }
    </ul>
  </nav>
}


