<!-- <div *ngIf="arrowBefore" [ngClass]=arrowColor class="{{!s.status ? 'arrow' : 'arrow down'}} flexCont center">
  &#10148;
</div> -->

<!-- <div class="flexCont"> -->

<div class="headText" (click)="s.toggleStatus(keyWord)">

  <div *ngIf="arrowBefore" [ngClass]=arrowColor class="{{!s.status ? 'arrow' : 'arrow down'}} left">&#10148;</div>

  <ng-content select="[headText]"></ng-content>

  <div *ngIf="!arrowBefore" [ngClass]=arrowColor class="{{!s.status ? 'arrow' : 'arrow down'}} right">&#10148;</div>

  <ng-content select="[headKieg]"></ng-content>

</div>

<!-- </div> -->

<!-- <div *ngIf="!arrowBefore" [ngClass]=arrowColor class="{{!s.status ? 'arrow' : 'arrow down'}} flexCont center">
  &#10148;
</div> -->

<div *ngIf="s.checkStatus(keyWord)" class="w100">
  <ng-content select="[itemCont]"></ng-content>
</div>
