<div class="flexCont">

  <!-- fejléc -->

  <div class="ntl text2 center w90">{{fejlec}}</div>

  <!-- vissza gomb -->

  <button class="itemRemove text1 w10" type="button" (click)="onClose()">X</button>

  <!-- megjegyzés -->

  <div class="nbl text1 w100">{{megjegyzes}}</div>

  <!-- min és max -->

  <div class="nbl w100 center text1">Minimum: {{minErtek}} / Maximum: {{maxErtek}}</div>

  <!-- célérték -->

  <div class="w100 text2 grayCell center">
    {{celErtek + ertekValtozas*valto}}
    {{egyseg}}
  </div>

 <!-- gombok lépés 1 -->

  <button class="w50 ngrn text1" [disabled]="buttonDisInc(1)"
  (click)="changeValue(1)" type="button">
   +
   {{valto}}
   {{egyseg}}
  </button>

  <button class="w50 nrd text1" [disabled]="buttonDisDec(1)"
  (click)="changeValue(-1)" type="button">
    -
    {{valto}}
    {{egyseg}}
  </button>

  <!-- gombok lépés érték -->

  <button class="w50 ngrn text1" [disabled]="buttonDisInc(lepes)"
  (click)="changeValue(lepes)" type="button">
    +
    {{lepes*valto}}
    {{egyseg}}
  </button>

  <button class="w50 nrd text1" [disabled]="buttonDisDec(lepes)"
  (click)="changeValue(-lepes)" type="button">
    -
    {{lepes*valto}}
    {{egyseg}}
  </button>

  <!--forrásértékek -->

  <div *ngIf="tokeKtsg>0" class="w100 flexCont">
    <div class="nrng text1 w100 center">Tőke költség</div>
    <app-special-field
    [ertek]="'Fizetendő: ' + (ertekValtozas*tokeKtsg) + ' / Maradt: ' + (resS.getSzabadToke()-ertekValtozas*tokeKtsg)"
    [tipus]="'toke'"
    ></app-special-field>
    <div class="ngrn text1 w100 center">
      {{ertekValtozas*tokeKtsg}} N&#xa5; /
      {{resS.getSzabadToke()-ertekValtozas*tokeKtsg}} N&#xa5;
    </div>
  </div>

  <div *ngIf="karmaKtsg>0" class="w100 flexCont">
    <div class="nprpl text1 w100 center">Karma költség</div>
    <app-special-field
    [ertek]="'Fizetendő: ' + (ertekValtozas*karmaKtsg) + ' / Maradt: ' + (this.resS.getSzabadKarma()-ertekValtozas*karmaKtsg)"
    [tipus]="'karma'"
    ></app-special-field>
  </div>

  <div *ngIf="esszKtsg>0" class="w100 flexCont">
    <div class="nbl text1 w100 center">Esszencia költség</div>
    <app-special-field
    [ertek]="'Fizetendő: ' + (ertekValtozas*esszKtsg) + ' / Maradt: ' + (attrS.getTulErtek('esszencia')-ertekValtozas*esszKtsg)"
    [tipus]="'esszencia'"
    ></app-special-field>
  </div>

</div>

  <!-- save button -->

  <div class="buttonCont w100 btnBack">
    <button class="itemGet text1" type="button" (click)="onSave()">Mentés</button>
  </div>
