<div class="flexCont">

  <!-- fejléc -->

  <div class="ntl pad03 center w90">{{fejlec}}</div>

  <!-- vissza gomb -->

  <button class="itemRemove pad03 w10" type="button" (click)="onClose()">X</button>

  <!-- megjegyzés -->

  <div class="nbl pad03 w100">{{megjegyzes}}</div>

  <!-- min és max -->

  <div class="nbl w100 center pad03">Minimum: {{minErtek}} / Maximum: {{maxErtek}}</div>

  <!-- célérték -->

  <div class="w100 pad03 grayCell center">
    {{celErtek + ertekValtozas*valto}}
    {{egyseg}}
  </div>

 <!-- gombok lépés 1 -->

  <button class="w50 ngrn pad03" [disabled]="buttonDisInc(1)"
  (click)="changeValue(1)" type="button">
   +
   {{valto}}
   {{egyseg}}
  </button>

  <button class="w50 nrd pad03" [disabled]="buttonDisDec(1)"
  (click)="changeValue(-1)" type="button">
    -
    {{valto}}
    {{egyseg}}
  </button>

  <!-- gombok lépés érték -->

  <button class="w50 ngrn pad03" [disabled]="buttonDisInc(lepes)"
  (click)="changeValue(lepes)" type="button">
    +
    {{lepes*valto}}
    {{egyseg}}
  </button>

  <button class="w50 nrd pad03" [disabled]="buttonDisDec(lepes)"
  (click)="changeValue(-lepes)" type="button">
    -
    {{lepes*valto}}
    {{egyseg}}
  </button>

  <!--forrásértékek -->

  <div *ngIf="tokeKtsg>0" class="w100 flexCont">
    <div class="nrng pad03 w100 center">Tőke költség</div>
    <app-special-field
    [ertek]="'Fizetendő: ' + (ertekValtozas*tokeKtsg) + ' / Maradt: ' + (resS.getSzabadEroforras('bg-orange')-ertekValtozas*tokeKtsg)"
    [tipus]="'bg-orange'"
    ></app-special-field>
    <div class="ngrn pad03 w100 center">
      {{ertekValtozas*tokeKtsg}} N&#xa5; /
      {{resS.getSzabadEroforras('bg-orange')-ertekValtozas*tokeKtsg}} N&#xa5;
    </div>
  </div>

  <div *ngIf="karmaKtsg>0" class="w100 flexCont">
    <div class="nprpl pad03 w100 center">Karma költség</div>
    <app-special-field
    [ertek]="'Fizetendő: ' + (ertekValtozas*karmaKtsg) + ' / Maradt: ' + (this.resS.getSzabadEroforras('bg-purple')-ertekValtozas*karmaKtsg)"
    [tipus]="'bg-purple'"
    ></app-special-field>
  </div>

  <div *ngIf="esszKtsg>0" class="w100 flexCont">
    <div class="nbl pad03 w100 center">Esszencia költség</div>
    <app-special-field
    [ertek]="'Fizetendő: ' + (ertekValtozas*esszKtsg) + ' / Maradt: ' + (attrS.getTulErtek('bg-grey')-ertekValtozas*esszKtsg)"
    [tipus]="'bg-grey'"
    ></app-special-field>
  </div>

</div>

  <!-- save button -->

  <div class="buttonCont w100 btnBack">
    <button class="itemGet pad03" type="button" (click)="onSave()">Mentés</button>
  </div>
