@import "../../../styles.scss";

:host {
  width: 100%;
  @extend .textR;
}

span {
  line-height: 0;
}

.karma {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(140, 0, 140, 0.9);
  box-shadow: 0px 0px 10px lightpink inset;
}

.toke {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(255, 165, 0, 0.9);
  box-shadow: 0px 0px 10px lightgoldenrodyellow inset;
}

.akcio {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(255, 165, 0, 0.9);
  box-shadow: 0px 0px 10px lightgoldenrodyellow inset;
}

.esszencia {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(150, 150, 150, 0.9);
  box-shadow: 0px 0px 10px white inset;
}

.pancel {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(0, 21, 255, 0.9);
  box-shadow: 0px 0px 10px lightblue inset;
}

.szint {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(0, 148, 5, 0.9);
  box-shadow: 0px 0px 10px lightgreen inset;
}

.sebzes {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0px 0px 10px lightcoral inset;
}

.suly {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px white;
  background-color: rgba(50, 50, 50, 0.9);
  box-shadow: 0px 0px 10px white inset;
}


