<form [formGroup]="s.detailsForm" *ngIf="s.detailsForm" class="flexWidth" style="--w: 100%">

  <button class="pad03 nbl margBott1" type="button" (click)="fillWithDummy()">fill with dummy</button>

  <div class="w{{item.meret}} posRel"
  *ngFor="let item of details; first as isFirst">

    <app-detail *ngIf="item.tipus !== 'kepessegek'"
    [nev] = "item.nev"
    [tipus] = "item.tipus"
    [egyseg] = "item.egyseg"
    [fcName] = "item.fcName"
    [megjegyzes] = "item.megjegyzes"
    [ertek] = "s.getFc(item.fcName)?.value"
    [lista] = "getList(item.fcName)"
    ></app-detail>

    <div class="buttonCont posAbs btnBack">
      <app-btn-options
        (buttonAction)="setDetail(item.fcName)"
      ></app-btn-options>
    </div>

  </div>

  <div class="flexCont ">
    <div class="nwht pad03  center">
      Különleges képességek
    </div>
    <div *ngIf="getDefault('kepessegek') == null" class="grayCell  pad03"></div>
    <div class="grayCell  pad03" *ngFor="let item of getDefault('kepessegek')">
      {{item}}
    </div>
  </div>

</form>
