<div class="flexCont w100" [formGroup]="s.detailsForm" *ngIf="s.detailsForm">

  <button class="text1 nbl margBott1" type="button" (click)="fillWithDummy()">fill with dummy</button>

  <div class="w{{item.meret}} flexCont posRel"
  *ngFor="let item of details; first as isFirst"
  [ngClass]="select.toggleClass(item.fcName)" (click)="select.toggleStatus(item.fcName)"
  >

    <app-detail *ngIf="item.tipus !== 'kepessegek'" class="flexCont w100"
    [nev] = "item.nev"
    [tipus] = "item.tipus"
    [egyseg] = "item.egyseg"
    [fcName] = "item.fcName"
    [megjegyzes] = "item.megjegyzes"
    [ertek] = "s.getFc(item.fcName)?.value"
    [lista] = "getList(item.fcName)"
    ></app-detail>

    <div *ngIf="select.status == item.fcName" class="buttonCont posAbs btnBack">
      <app-btn-options
        (buttonAction)="setDetail(item.fcName)"
      ></app-btn-options>
    </div>

  </div>

  <div class="flexCont w100">
    <div class="nwht text1 w100 center">
      Különleges képességek
    </div>
    <div *ngIf="getDefault('kepessegek') == null" class="grayCell w100 text1"></div>
    <div class="grayCell w100 text1" *ngFor="let item of getDefault('kepessegek')">
      {{item}}
    </div>
  </div>

</div>
