  <div class="buttonCont w100 center btnBack">
    <button class="itemGet pad03" (click)="s.newChar()">Új Karakter</button>
  </div>

  <div class="w100 flexCont" *ngFor="let csoport of ['Saját karakterek', 'Más karakterek']">

    <h3 *ngIf="userIsAuthenticated && charsList !== null">{{csoport}}</h3>

    <div class="w100" *ngFor="let char of charsList">

      <div class="flexCont margBott1" *ngIf="csoport == getCsoport(char.creatorId!)">

        <div class="w80 posRel">
          <div class="ngrn w100 pad03 center">{{char.teljesnev}}</div>
          <div class="nbl w100 pad03">Nyelv: {{char.anyanyelv}}</div>
          <div class="nbl w100 pad03">DNS: {{char.dns}}</div>

          <!-- <div class="buttonCont w100 posAbs btnBack">
            <button *ngIf="userId === char.creatorId" class="itemEdit pad03 w40" type="button" (click)="s.updateChar(char._id)">Szerkesztés</button>
            <button  class="itemRemove pad03 w40" (click)="deleteChar(char._id)">Törlés</button>
            <button *ngIf="userId !== char.creatorId" class="itemGet pad03" type="button" [disabled]="userId == char.creatorId && !userIsAuthenticated" (click)="s.updateChar(char._id)">Megtekintés</button>
          </div> -->

      </div>

    </div>


  </div>
