<!-- fejléc -->
<div class="ntl pad03 center w90" >
  Szakértelmek
</div>

<!-- visszagomb -->
<button class="itemRemove pad03 w10 center" type="button" (click)="onClose()">X</button>

<!-- filter -->

<div class="flexCont">
  <div class="pad03 center nprpl w100" (click)="setFilter('')">X Nincs</div>
  <div class="pad03 center nprpl flex1" (click)="setFilter('Aktív Szakértelmek')">Aktív</div>
  <div class="pad03 center nprpl flex1" (click)="setFilter('Ismeret Szakértelmek')">Ismeret</div>
  <div class="pad03 center nprpl flex1" (click)="setFilter('Nyelvi Szakértelmek')">Nyelvi</div>
</div>

<div class="w100" *ngFor="let elem of csoportok">

  <h3 class="margTop1">{{elem}}</h3>

  <div class="w100 margBott1" *ngFor="let skill of getSkills(elem)">

    <app-hide-content
    [keyWord]="skill.id"
    [arrowColor]="'nwht'"
    >

      <div headText class="w100 pad03 nwht">{{skill.nev}} {{skill.nevKieg}}</div>

      <div itemCont class="w100 flexCont">
        <input class="pad03 w100" type="text"
        *ngIf="skill.nev == ''"
        id="{{skill.id}}"
        [placeholder]="'Írd be a pontos megnevezést'"
        >
        <div class="nbl w60 pad03">Karmaköltség</div>
        <app-special-field class="w40"
        [ertek]="skill.karmaKtsg"
        [tipus]="'karma'"
        ></app-special-field>

        <div class="nbl w60 pad03">Kapcsolt Tulajdonság</div>
        <div class="w40 pad03 center nrng">{{getAttrRovid(skill.kapTul)}}</div>

        <div class="buttonCont margBott1 btnBack">
          <button class="itemGet pad03" type="submit" (click)="onSave(skill)">Kiválaszt</button>
        </div>
      </div>
    </app-hide-content>

  </div>

</div>
