<div class="w100 margTop1" *ngFor="let frakcio of frakciok">

  <h3>{{frakcio}}</h3>

  <div *ngFor="let tag of getFilteredNpcs(frakcio)">

    <app-hide-content class="margBott1"
    [keyWord]="tag.nev"
    [arrowColor]="'nwht'"
    >
      <div headText class="flexCont pad03 center nwht">{{tag.nev}}</div>

      <div itemCont class="flexCont w100">
        <div class="w33">
          <div class="pad03 nbl center">DNS</div>
          <div class="pad03 grayCell center">{{tag.dns}}</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Nem</div>
          <div class="pad03 grayCell center">{{tag.nem}}</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Anyanyelv</div>
          <div class="pad03 grayCell center">{{tag.anyanyelv}}</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Kor</div>
          <div class="pad03 grayCell center">{{tag.kor}} év</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Magasság</div>
          <div class="pad03 grayCell center">{{tag.magassag}} cm</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Súly</div>
          <div class="pad03 grayCell center">{{tag.suly}} Kg</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Szemszín</div>
          <div class="pad03 grayCell center">{{tag.szemszin}}</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Bőrszín</div>
          <div class="pad03 grayCell center">{{tag.borszin}}</div>
        </div>
        <div class="w33">
          <div class="pad03 nbl center">Hajszín</div>
          <div class="pad03 grayCell center">{{tag.hajszin}}</div>
        </div>
        <div class="w100">
          <div class="pad03 nbl center">Testalkat</div>
          <div class="pad03 grayCell center">{{tag.testalkat}}</div>
        </div>
        <div class="w100">
          <div class="pad03 nbl center">Hajstílus</div>
          <div class="pad03 grayCell center">{{tag.hajstilus}}</div>
        </div>
        <div class="w100">
          <div class="pad03 nbl center">Kaszt</div>
          <div class="pad03 grayCell center">{{tag.kaszt}}</div>
        </div>
        <div class="w50">
          <div class="pad03 nbl center">Alap Tulajd.</div>
          <app-special-field
          [ertek]="tag.alapTulSzint"
          [tipus]="'szint'"
          ></app-special-field>
        </div>
        <div class="w50">
          <div class="pad03 nbl center">Szaktulajd.</div>
          <app-special-field
          [ertek]="tag.szakTulSzint"
          [tipus]="'szint'"
          ></app-special-field>
        </div>
        <div class="w50">
          <div class="pad03 nbl center">Alap Szakért.</div>
          <app-special-field
          [ertek]="tag.alapSzakertSzint"
          [tipus]="'szint'"
          ></app-special-field>
        </div>
        <div class="w50">
          <div class="pad03 nbl center">Szakterület</div>
          <app-special-field
          [ertek]="tag.szakteruletSzint"
          [tipus]="'szint'"
          ></app-special-field>
        </div>
        <div class="w100">
          <div class="pad03 nbl center">Leírás</div>
          <div class="pad03 grayCell center">{{tag.leiras}}</div>
        </div>
        <div class="w100">
          <div class="pad03 nbl center">Idézetek</div>
          <div *ngFor="let idezet of tag.idezetek">
            <div class="pad03 grayCell center">{{idezet}}</div>
          </div>
        </div>

      </div>
    </app-hide-content>



  </div>
</div>
