button {
  justify-content: center;
  align-items: center;
}

button:disabled {
  background-color: lightgray;
  color: gray;
  text-shadow: none;
  box-shadow: none;
}

.buttonCont {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  overflow: visible;
}

.btnBack {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.buttonYes {
  @extend .bg-green;
  @extend .color-white;
  @extend .pad03;
}

.buttonNo {
  @extend .bg-red;
  @extend .color-white;
  @extend .pad03;
}

.buttonOptions {
  @extend .bg-orange;
  @extend .color-white;
  @extend .pad03;
}
