:host {
  width: 100%;
  position: relative;
}

.items :first-child:hover{
  cursor: pointer;
  background-color: orange;
}

.arrowCont {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  margin: .3rem;
}

.arrow {
  user-select: none;
  z-index: 2;
}

.down {
  writing-mode: vertical-lr;
}

:host:hover {
  cursor: pointer;
  @extend .selected;
}

.right {
  right: 0;
}

.left {
  left: 0;
}
