@import "../../../styles/host.scss";

:host {
  position: relative;
  margin-top: auto;
  background-color: lightgray;
  @extend .flexHost;
}

a {
  display: block;
  width: 100%;
  text-align: center;
}

.creator {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  background-color: black;
}
