<!-- fejléc -->
<div class="fejlec">
  {{detail.nev}}
</div>

<!-- megjegyzés -->
@if (editMode) {
  <div class="color-blue bg-black-blue pad03 center">
    {{detail.megjegyzes}}
  </div>
}

@if (!editMode) {
  <div class="tartalom" [style.backgroundColor]="(detail.tipus == 'color' ? ertek : 'fff')">
    {{ertek}} {{detail.egyseg}}
  </div>
}

<!-- text input -->
@if (detail.tipus == 'text' && editMode && detail.fcName !== 'dns') {
  <input [id]="detail.fcName" [formControl]="control" [type]="detail.tipus" [value]="ertek" [placeholder]="detail.nev">
}


<!-- color input -->
@if (detail.tipus == 'color' && editMode) {
  <input [id]="detail.fcName" [formControl]="control" [type]="detail.tipus" [value]="ertek">
}

<!-- normal number input -->
@if (detail.tipus == 'number' && editMode) {
  <div class="flexCont">
    <input [id]="detail.fcName" [formControl]="control" [type]="detail.tipus" [placeholder]="detail.nev">
    <div>{{detail.egyseg}}</div>
  </div>
}

<!-- listázás -->
@if (detail.lista && editMode) {
  @for (elem of detail.lista; track $index) {
    <div class="fejlec" [ngClass]="elem==valasztottErtek? 'selected' : ''" (click)="selectOption(elem)">{{elem}}</div>
  }
}

<!-- gombok -->
<div  class="buttonCont">
  @if (editMode) {
    <button class="buttonYes" type="button" (click)="onSave()">Mentés</button>
    <button class="buttonNo" type="button" (click)="cancel()">Kilépés</button>
  }
  @if (!editMode && s.selected == detail.fcName) {
    <button class="buttonOptions" type="button" (click)="toggleEdit()">{{detail.nev}} szerkesztés</button>
  }
</div>
