<div class="buttonCont btnBack" *ngIf="s.initForm">
  <button class="itemGet pad03" type="button" (click)="newPlayerS.buttonAction()">Új Játékos</button>
  <button class="itemEdit pad03" type="button" (click)="toggleNpcBar()">Új NPC</button>
  <button class="itemRemove pad03" type="button" (click)="reset()">Reset</button>
</div>

<div class="buttonCont btnBack" *ngIf="npcShowMe">
  <button class="itemGet pad03 flex1" type="button" (click)="addGrunt()">Új Grunt</button>
  <button class="itemGet pad03 flex1" type="button" (click)="addVeteran()">Új Veterán</button>
  <button class="itemGet pad03 flex1" type="button" (click)="addElite()">Új Elite</button>
</div>

<div class="w100 pad03 nrng center">{{s.turn}}. kör / {{s.phase}}. fázis</div>

<div class="flexCont w100" [formGroup]="s.initForm" *ngIf="s.initForm">

  <div class="flexCont w100" formArrayName="players">

    <div class="w100 margBott1 flexCont" [formGroupName]='i' *ngFor="let player of sortedPlayers(); let i = index">

      <!-- Név -->
      <div class="w100 flexCont" (click)="toggleShowMe('player'+i)">
        <span class="pad03 w100 ntl">
          {{player.nev}}
        </span>
        <span *ngIf="i != 0 && showMe != 'player'+i" class="flexCont w100">
          <div class="flex1 center pad03 nprpl">{{player.init}} K</div>
          <div class="flex1 center pad03 nrng">{{player.ap}} AP</div>
          <div class="flex1 center pad03 nwht">{{player.pancel}} P</div>
          <div class="flex1 center pad03 nbl">A {{player.asztralisAllapot}}</div>
          <div class="flex1 center pad03 nrd">F {{player.fizikaiAllapot}}</div>
        </span>
      </div>

      <span *ngIf="i == 0 || showMe == 'player'+i" class="flexCont w100">

        <!-- Akciópontok -->
        <div class="w50 pad03 center nrng">
          {{player.ap}} AP ({{player.apPerTurn}})
        </div>

        <!-- Kezdeményezés -->
        <div class="w50 pad03 center nprpl">
          {{player.init}} Kezd.
        </div>

        <!-- Tulajdonságok -->
        <div class="w50 flexCont">
          <div class="w100 nbl pad03 center">
            Tulajdonságok
          </div>
          <div class="w100 grayCell pad03 center">
            {{player.alapTulSzint}} / {{player.szakTulSzint}}
          </div>
        </div>

        <!-- Szakértelmek -->
        <div class="w50 flexCont">
          <div class="w100 nbl pad03 center">
            Szakértelmek
          </div>
          <div class="w100 grayCell pad03 center">
            {{player.szakertelemSzint}} / {{player.szakteruletSzint}}
          </div>
        </div>

        <!-- Módosítók -->
        <div class="w70 pad03 center nrd">
          +{{s.modifiers(i)}} Célszám / -{{s.modifiers(i)}} Kezd.
        </div>

        <!-- Páncélérték -->
        <div class="w30 pad03 center nwht">
          {{player.pancel}} P
        </div>

        <!-- Asztrális állapot -->
        <app-statusmonitor class="flexCont w100"
        [headText]="'Asztrális állapot'"
        [statusCode]="s.getFc(i, 'asztralisAllapot').value"
        (newStatusCode)="s.setStatus($event, i, 'asztralisAllapot')"
        ></app-statusmonitor>

        <!-- Fizikai állapot -->
        <app-statusmonitor class="flexCont w100"
        [headText]="'Fizikai állapot'"
        [statusCode]="s.getFc(i, 'fizikaiAllapot').value"
        (newStatusCode)="s.setStatus($event, i, 'fizikaiAllapot')"
        ></app-statusmonitor>

        <div class="buttonCont btnBack">
          <!-- gombok cselekvés szett -->
          <span *ngIf="player.status == 2 && s.phase == 2 && player.ap! > 0 && i == 0" class="flexCont">
            <button class="itemGet pad03" type="button" (click)="s.spendAp(i)">Cselekvés</button>
            <input class="pad03 w30" type="number" id='{{"buttonAp"+i}}'>
          </span>

          <!-- gombok kezdeményezés szett -->
          <span *ngIf="player.status == 1 && s.phase == 1 && i == 0" class="flexCont">
            <button class="itemEdit pad03" type="button" (click)="s.setInit(i)">Kezdeményezés</button>
            <input class="pad03 w30" type="number" id='{{"buttonInit"+i}}'>
          </span>

          <button class="itemRemove pad03" type="button" (click)="s.removePlayer(i)">X</button>
        </div>
      </span>

    </div>

  </div>

</div>
