<app-hide-content
[keyWord]="skill.id+i"
[arrowColor]="'nwht'"
[arrowBefore]="false"
>
  <div headText class="flexContNoWrap">

    <app-special-field class="w20"
    [ertek]="attrBonus + skill.szint"
    [tipus]="'bg-green'"
    [egyeniSzin]="'ngrn'"
    ></app-special-field>

    <div class="flex1">
      <div class="nwht pad03 {{hide.checkStatus(skill.id+i) ? '' : 'overflow'}}">
        {{skill.nev}} {{skill.nevKieg == '' ? '' : '('+skill.nevKieg+')'}}
      </div>
    </div>

  </div>

  <div itemCont class="flexCont w100">
    <div *ngIf="skill.nevKieg != ''" class="w50 nbl pad03">Névkiegészítő</div>
    <div *ngIf="skill.nevKieg != ''" class="w50 grayCell pad03">{{skill.nevKieg}}</div>

    <div class="w60 nbl pad03">Aktuális Szint</div>
    <app-special-field class="w40"
    [ertek]="skill.szint"
    [tipus]="'bg-green'"
    ></app-special-field>

    <div class="w60 nbl pad03">Maximum Szint</div>
    <app-special-field class="w40"
    [ertek]="kapTulSzint"
    [tipus]="'bg-green'"
    ></app-special-field>

    <div class="w60 nbl pad03">Fő Tulajdonság</div>
    <div class="w40 nrng pad03">{{tulNev}}</div>

    <div class="w60 nbl pad03">Tulajdonság búnusz</div>
    <app-special-field class="w40"
    [ertek]="attrBonus"
    [tipus]="'bg-green'"
    ></app-special-field>

    <div class="buttonCont w100 btnBack">
      <button *ngIf="skill.szint < kapTulSzint" class="pad03 itemGet" type="button" (click)="skillLvlUp()" >Szintlépés</button>
      <button *ngIf="hasSpec" class="pad03 itemGet" (click)="newSpec()" type="button">Új spec</button>
      <button class="pad03 itemRemove" type="button" (click)="s.removeSkill(skill.csoport, i)">Törlés</button>
    </div>
  </div>

</app-hide-content>

