<div class="flexCont w100" [formGroup]="s.skillsForm" *ngIf="s.skillsForm">

  <!-- csoportosítás -->

  <div class="w100" formArrayName="activeSkills" *ngIf="s.activeSkills.length > 0">

      <h3 class="margTop1">Aktív Szakértelmek</h3>

      <div class="w100 flexCont margBott1" [formGroupName]='i' *ngFor="let a of s.activeSkills.value; let i = index">

        <app-skill class="w100"
        [skill]="a"
        [kapTulSzint]="attrS.getTulErtek(a.kapTul)"
        [i]="i"
        >
        </app-skill>

        <div class="w100" formArrayName="specs">
          <app-skillspec [formGroupName]='j' *ngFor="let spec of s.activeSkills.controls[i].value.specs; let j = index"
          [spec]="spec"
          [skillSzint]="a.szint"
          [kapTulSzint]="attrS.getTulErtek(a.kapTul)"
          [skillCsoport]="a.faName"
          [i]="i"
          [j]="j"
          >
          </app-skillspec>

        </div>
      </div>

  </div>

  <div class="w100" formArrayName="knowledgeSkills" *ngIf="s.knowledgeSkills.length > 0">

      <h3 class="margTop1">Ismeret Szakértelmek</h3>

      <div class="w100" [formGroupName]='i' *ngFor="let k of s.knowledgeSkills.value; let i = index">

        <div class="flexCont margBott1">
          <app-skill class="w100 posRel flexCont"
          [skill]="k"
          [kapTulSzint]="attrS.getTulErtek(k.kapTul)"
          [i]="i"
          >
          </app-skill>
        </div>
      </div>

  </div>

  <div class="w100" formArrayName="languageSkills" *ngIf="s.languageSkills.length > 0">

      <h3 class="margTop1">Nyelvi Szakértelmek</h3>

      <div class="w100" [formGroupName]='i' *ngFor="let l of s.languageSkills.value; let i = index">

        <div class="flexCont margBott1">
          <app-skill class="w100 posRel flexCont"
          [skill]="l"
          [kapTulSzint]="attrS.getTulErtek(l.kapTul)"
          [i]="i"
          >
          </app-skill>
        </div>
      </div>

  </div>

</div>
