<form class="flexCont w100 margTop1" *ngIf="s.mainCharForm" [formGroup]="s.mainCharForm">

  <h2 *ngIf="s.filter == '' || s.filter ==  'Jellemzők'" >Jellemzők</h2>
  <app-details *ngIf="s.filter == '' || s.filter ==  'Jellemzők'"></app-details>

  <h2 *ngIf="s.filter == '' || s.filter ==  'Erőforrások'" >Erőforrások</h2>
  <app-resources *ngIf="s.filter == '' || s.filter ==  'Erőforrások'"></app-resources>

  <h2 *ngIf="s.filter == '' || s.filter ==  'Tulajdonságok'" >Tulajdonságok</h2>
  <app-attributes *ngIf="s.filter == '' || s.filter ==  'Tulajdonságok'"></app-attributes>

  <h2 *ngIf="s.filter == '' || s.filter ==  'Állapotjelző'" >Állapotjelző</h2>
  <app-status *ngIf="s.filter == '' || s.filter ==  'Állapotjelző'"></app-status>

  <h2 *ngIf="s.filter == '' || s.filter ==  'Szakértelmek'" >Szakértelmek</h2>
  <app-skills *ngIf="s.filter == '' || s.filter ==  'Szakértelmek'"></app-skills>

  <h2 *ngIf="s.filter == '' || s.filter ==  'Eszközök'" >Eszközök</h2>
  <app-items *ngIf="s.filter == '' || s.filter ==  'Eszközök'"></app-items>

</form>
<app-floating-menu></app-floating-menu>
