@if (s.mainCharForm) {

  <form [formGroup]="s.mainCharForm">

    @if (s.filter == '' || s.filter ==  'Jellemzők') {
      <h1>Jellemzők</h1>
      <app-details class="pageResize"></app-details>
    }
    @if (s.filter == '' || s.filter ==  'Erőforrások') {
      <h1>Erőforrások</h1>
      <app-resources class="pageResize"></app-resources>
    }
    @if (s.filter == '' || s.filter ==  'Tulajdonságok') {
      <h1>Tulajdonságok</h1>
      <app-attributes class="pageResize"></app-attributes>
    }
    @if (s.filter == '' || s.filter ==  'Szakértelmek') {
      <h1>Szakértelmek</h1>
      <app-skills class="pageResize"></app-skills>
    }
    @if (s.filter == '' || s.filter ==  'Állapotjelző') {
      <h1>Állapotjelző</h1>
      <app-status class="pageResize"></app-status>
    }
    @if (s.filter == '' || s.filter ==  'Eszközök') {
      <h1>Eszközök</h1>
      <app-items class="pageResize"></app-items>
    }

  </form>
}
