.flexCont {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.flexContNoWrap {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  width: 100%;
}

.flex1 {
  flex: 1 1 auto;
}

.flex2 {
  flex: 2 2 50%;
}

.flexWidth {
  flex: 0 0 var(--w);
}
