* {box-sizing: border-box; padding: 0; margin: 0;font-family:Arial, Helvetica, sans-serif}

@import "styles-mixins.scss";
@import "styles-colors.scss";
@import "styles-colors-backs.scss";
@import "styles-colors-fonts.scss";
@import "styles-buttons.scss";
@import "styles-positions.scss";
@import "styles-flex.scss";

html {
  width: 100vw;
  min-height: 100vh;
  background-color: darkgrey;
  background: black url("../src/assets/images/fakpAlloresize.png") no-repeat scroll center;
  background-size: cover;
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

ul, li {
  list-style-type: none;
  text-align: center;
}

li :hover {
  cursor: pointer;
  background-color: orange;
  color: black;
}

.pad03 {
  padding: 0.3rem;
}

h1 {
  width: 100%;
  text-align: center;
  @extend .bteal;
  @extend .fteal;
  @extend .pad03;
}

.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0px;
}

[hidden] { display: none !important; }
