app-authentication {

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  form {
    flex: 0 0 auto;
  }

  label, input {
    width: 100%;
    padding: 0.3rem;
    display: block;
    text-align: center;
  }

  .authCont, p {
    padding: 0 2rem;
  }

  button {
    font-size: 1.1rem;
  }

}
