.bpurple {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px purple inset;
}
.bblue {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px lightskyblue inset;
}
.byellow {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px yellow inset;
}
.borange {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px orange inset;
}
.bred {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px red inset;
}
.bgreen {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px lightgreen inset;
}
.bteal {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px turquoise inset;
}

.bwhite {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px white inset;
}
