.fpurple {
  color: rgb(255, 125, 255);
  text-shadow: 0 0 3px rgb(136, 0, 194), 0 0 5px lightpink;
}
.fblue {
  color: lightskyblue;
  text-shadow: 0 0 3px blue, 0 0 5px lightskyblue;
}
.fyellow {
  color: rgb(255, 255, 125);
  text-shadow: 0 0 3px yellow, 0 0 5px lightyellow;
}
.forange {
  color: rgb(255, 175, 125);
  text-shadow: 0 0 3px rgb(219, 142, 0), 0 0 5px lightgoldenrodyellow;
}
.fred {
  color: rgb(255, 125, 125);
  text-shadow: 0 0 3px red, 0 0 5px lightcoral;
}
.fgreen {
  color: rgb(0, 255, 0);
  text-shadow: 0 0 3px lightgreen, 0 0 5px rgb(0, 255, 0);
}
.fteal {
  color: rgb(125, 255, 255);
  text-shadow: 0 0 3px turquoise, 0 0 5px rgb(125, 255, 255);
}

.fwhite {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 3px black, 0 0 5px rgb(100, 100, 100);
}
