app-header {
  width: 100%;

  .headWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @extend .bg-black-purple;

    div {
      font-size: 2rem;
      text-align: center;
    }

    .burger {
      @extend .color-yellow;
      @extend .pad03;
      @extend .center;
      flex: 0 0 3rem;
    }

    .bezaras {
      font-size: 1.3rem;
      @extend .bg-red;
      @extend .color-white;
      @extend .pad03;
      @extend .center;
      flex: 0 0 3rem;
    }

    .line {
      @extend .pad03;
      @extend .color-green;
      flex: 1 1 auto;
    }
  }

    ul, li {
      list-style-type: none;
      text-align: center;
    }

    li {
      @extend .flex1;
      @extend .bg-black-purple;
    }

    a {
      text-decoration: none;
      display: block;
      font-size: 1.2rem;
      @extend .color-purple;
      @extend .pad03;
      @extend .center;
    }

    li :hover {
      cursor: pointer;
      background-color: orange;
      color: black;
    }


}
