.posAbs {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}

.posAbsIn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.posRel {
  position: relative;
}

.center {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.textR {
  text-align: right;
  justify-content: right;
  align-content: center;
}

.margTop1 {
  margin-top: 1rem;
}

.margBott1 {
  margin-bottom: 1rem;
}
