@import "styles-mixins.scss";

:host {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.pageResize {
  @include tablet {width: 85%;}
  @include tablet-landscape {width: 70%;}
  @include desktop {width: 55%;}
}
