* {box-sizing: border-box; padding: 0; margin: 0;font-family:Arial, Helvetica, sans-serif}

@import "styles-mixins.scss";
@import "styles-colors.scss";
@import "styles-colors-backs.scss";
@import "styles-colors-fonts.scss";
@import "styles-buttons.scss";
@import "styles-positions.scss";
@import "styles-flex.scss";

html {
  width: 100%;
  min-height: 100vh;
  background-color: darkgrey;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body > * {
  width: 100%;
  height: 100%;
  @include phone {
    width: 100%;
  }
  @include tablet {
    width: 85%;
  }
  @include tablet-landscape {
    width: 70%;
  }
  @include desktop {
    width: 55%;
  }

}

.back {
  background: black url("../src/assets/images/fakpAlloresize.png") no-repeat scroll center;
  background-size: cover;
  min-height: 800px;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

ul, li {
  list-style-type: none;
  text-align: center;
}

li :hover {
  cursor: pointer;
  background-color: orange;
  color: black;
}

h2 {
  @extend .ntl;
  @extend .margTop1;
  @extend .center;
  width: 100%;
  padding: 0.5rem 1rem;
}

h3 {
  @extend .ntl;
  @extend .margBott1;
  padding: 0.5rem;
  width: 100%;
}

.text1 {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.text2 {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.creator {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
}

.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0px;
}

[hidden] { display: none !important; }
