<!-- fejléc -->
<div class="ntl pad03 center w90 margBott1" >
  {{mainSkill.nev}} specializációk
</div>

<!-- visszagomb -->
<button class="itemRemove pad03 w10 center margBott1" type="button" (click)="onClose()">X</button>

<div class="w100 margBott1" *ngFor="let spec of specs">

  <app-hide-content
  [keyWord]="spec.id"
  [arrowColor]="'nwht'"
  >

    <div headText class="w100 pad03 nwht">{{spec.nev == '' ? 'Egyéni Specializáció' : spec.nev}}</div>

    <div itemCont class="w100 flexCont">
      <input class="pad03 w100" type="text"
      *ngIf="spec.id == 'egyeniSpec'"
      id="{{spec.id}}"
      [placeholder]="'Írd be a pontos megnevezést'"
      >

      <div class="nbl w60 pad03">Karmaköltség</div>
      <app-special-field class="w40"
      [ertek]="spec.karmaKtsg"
      [tipus]="'karma'"
      ></app-special-field>

      <div class="buttonCont btnBack">
        <button class="itemGet pad03" type="submit" (click)="onSave(spec)">Kiválaszt</button>
      </div>
    </div>
  </app-hide-content>

</div>
